* {
    margin: 0;
    padding: 0;
}

.menuIcon {
    height: 40px;
    width: 60px;
    margin: 111px 0px 111px 36px;
    display: inline-block;
}

.headerLogo {
    font-family: "Montserrat", Arial, sans-serif;
    color: #843535;
    font-size: 43.13px;
    text-transform: capitalize;
    display: inline-block;
    text-align: center;
}

.circles {
    float: right;
    margin-right: 60px;
    margin-top: 110px;
}

.smallPreview {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 21px;
    margin-left: 33px;
    margin-top: 280px;
}

.smallPreview {
    border: solid 1px #E8D49C;
    border-radius: 30px;
    display: inline-block;
    padding: 21px 60px;
    background: #E8D49C;
    color: white;
}

.heading {
    font-family: "Montserrat", Arial, sans-serif;
    color: #843535;
    margin-left: 33px;
    margin-top: 43px;
}

.longLine {
    border-bottom: solid 2px #545454;
    margin: 43px 34px;
}

section p {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 21px;
}

.mainPara {
    margin-left: 33px;
    margin-right: 80px;
}

/*
.circles2 {
    margin-left: 30px;
    
    display: inline-block;
}
*/

.secoPara {
    display: inline-block;
    margin-top: 54px;
    margin-left: 33px;
    margin-right: 80px;
}

.smallLine {
    border-bottom: solid 1px black;
    margin: 77px 138px;
}

.footerMessage {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.login {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 21px;
    color: white;
    font-weight: 300;
    padding: 21px 60px;
    background-color: #843535;
    border: solid 1px #843535;
    border-radius: 50px;
    cursor: pointer;
}

.linkSign {
    text-align: center;
    margin-top: 65px;
    
}

















